In [1]:
#python has no char data type

In [2]:
int(0)

0

In [4]:
print('read',end='\nrohoh')

read
rohoh

In [5]:
age=22

In [6]:
print("my age is :",age)

my age is : 22

In [7]:
print("my age is :{age}")

my age is :{age}

In [8]:
print(f"my age is: {age}")
#f is for formatting and (f"my age is: {age}") is called f string

my age is: 22

In [3]:
name1="Tandon"
name2="Favela"
name3="Ercel"
name4="Bhadoria"
name5="Conde"
print("{} and {} are more active players while {} and {} are more successful. But {} is the best of all ".format(name2,name5,name3,name4,name1))

Favela and Conde are more active players while Ercel and Bhadoria are more successful. But Tandon is the best of all

In [5]:
name6="Lopez"
name7="Jaberi"
print("{firstname} also is the most asseted player and {secondname} is the most fit one".format(secondname=name7,firstname=name6))

Lopez also is the most asseted player and Jaberi is the most fit one

In [8]:
name8="Assadi"
name9="Russel"
print("Lopez helps two aspiring asseted players:\n{imp1}\n{imp2}".format(imp1="No.1 - "+name8,imp2="No.2 - "+name9))

Lopez helps two aspiring asseted players:
No.1 - Assadi
No.2 - Russel

# Control Flow
## Decision Making statements

In [9]:
## if statement
age=18
if age>=18 :
    print("Eligible to vote")

Eligible to vote

In [10]:
if age<18:
    print("not eligible to vote")
## as condition will not be satisfied, so nothing will be printed

In [1]:
input("Enter name : ")
## default data type of input() function is string

Enter name : Shubh

'Shubh'

In [3]:
name=input("Enter name: ")

Enter name: Shubho

In [4]:
name

'Shubho'

In [6]:
# typecasting to change datatype
age=int(input("age: "))

age: 23

In [8]:
type(age)

int

In [13]:
my_age=int(input("age = "))
if my_age >= 18 and my_age <= 35 :
    print("Young blood")
elif my_age < 18 :
    print("Naive blood")
elif my_age > 35 and my_age <= 60 :
    print("Experience blood")
else :
    print("Wise blood")

age = 78
Wise blood

In [14]:
# can also be written as
my_age=int(input("age = "))
if 18<=my_age<=35 :
    print("Young blood")
elif my_age<18 :
    print("Naive blood")
elif 35<my_age<=60 :
    print("Experience blood")
else :
    print("Wise blood")

age = 22
Young blood

In [16]:
price=int(input("product price : "))
if(price>1000) :
    print("After 20% discount you get in :{} ", 0.8*price)
else:
    print("After 30% discount you get in :{}", 0.7*price)

product price : 920
After 30% discount you get in :{} 644.0

In [17]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price6786
The price of the product is 5428.8

In [5]:
''' Single statement suite - If the suite of if section have only a single line, then the header statement may go at same line.
Its a simple example to check whether a value is less than equal to 999'''

val = int(input("Enter a number: "))
if (val <= 999 ): print ("Value is less than equal to 999")
print ("Good bye!")

Enter a number: 4566
Good bye!

## While loops

In [11]:
age = 22
while(age!=66):
    print(f"{age} :have oh yeah and oh my god sex")
    age+=1
else:
    print("have What the fuck sex")

22 :have oh yeah and oh my god sex
23 :have oh yeah and oh my god sex
24 :have oh yeah and oh my god sex
25 :have oh yeah and oh my god sex
26 :have oh yeah and oh my god sex
27 :have oh yeah and oh my god sex
28 :have oh yeah and oh my god sex
29 :have oh yeah and oh my god sex
30 :have oh yeah and oh my god sex
31 :have oh yeah and oh my god sex
32 :have oh yeah and oh my god sex
33 :have oh yeah and oh my god sex
34 :have oh yeah and oh my god sex
35 :have oh yeah and oh my god sex
36 :have oh yeah and oh my god sex
37 :have oh yeah and oh my god sex
38 :have oh yeah and oh my god sex
39 :have oh yeah and oh my god sex
40 :have oh yeah and oh my god sex
41 :have oh yeah and oh my god sex
42 :have oh yeah and oh my god sex
43 :have oh yeah and oh my god sex
44 :have oh yeah and oh my god sex
45 :have oh yeah and oh my god sex
46 :have oh yeah and oh my god sex
47 :have oh yeah and oh my god sex
48 :have oh yeah and oh my god sex
49 :have oh yeah and oh my god sex
50 :have oh yeah and oh my god sex
51 :have oh yeah and oh my god sex
52 :have oh yeah and oh my god sex
53 :have oh yeah and oh my god sex
54 :have oh yeah and oh my god sex
55 :have oh yeah and oh my god sex
56 :have oh yeah and oh my god sex
57 :have oh yeah and oh my god sex
58 :have oh yeah and oh my god sex
59 :have oh yeah and oh my god sex
60 :have oh yeah and oh my god sex
61 :have oh yeah and oh my god sex
62 :have oh yeah and oh my god sex
63 :have oh yeah and oh my god sex
64 :have oh yeah and oh my god sex
65 :have oh yeah and oh my god sex
have What the fuck sex

In [1]:
1/False

ZeroDivisionError: division by zero

In [12]:
my-name=20
print(my-name)

SyntaxError: cannot assign to operator (1447789489.py, line 1)

In [2]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag
print(num1)

num2-num1

3.0

(-1+3j)

In [5]:
'pwskills'.upper().lower().isalnum()

True

In [11]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [13]:
Name = 'pwskills'

Name[0] = 'P'

TypeError: 'str' object does not support item assignment

# For Loops

In [10]:
sc_name=["Tandon","Ercel","Bhadoria","Favela","White","Megan","Dutta","Lopez","Marie","Macool","Conde","Elizabeth","Dominguez","Khanna","Simpsonn","Yancheva","Pandit","Nunez","Adhikary","Cherem","Khera","Pendse","Aasadi","Russel","Jaberi","Bhowmick","Sagar","Singh","Arya","Daniels","Dilaik","Hayat","Fernandez","Kalita","Kapoor","Mukherjee","Fakhri","Rekhate","Navarro","Sharma","Bole","Maity","Budhatoki","Khosla","Jolie","Dhanwani","Vohra(l)","Khan","De Cruz","Dhar","Belucci","Rai","Renteria","Banerjee"]
for x in sc_name:
    print("Yeah",x)

Yeah Tandon
Yeah Ercel
Yeah Bhadoria
Yeah Favela
Yeah White
Yeah Megan
Yeah Dutta
Yeah Lopez
Yeah Marie
Yeah Macool
Yeah Conde
Yeah Elizabeth
Yeah Dominguez
Yeah Khanna
Yeah Simpsonn
Yeah Yancheva
Yeah Pandit
Yeah Nunez
Yeah Adhikary
Yeah Cherem
Yeah Khera
Yeah Pendse
Yeah Aasadi
Yeah Russel
Yeah Jaberi
Yeah Bhowmick
Yeah Sagar
Yeah Singh
Yeah Arya
Yeah Daniels
Yeah Dilaik
Yeah Hayat
Yeah Fernandez
Yeah Kalita
Yeah Kapoor
Yeah Mukherjee
Yeah Fakhri
Yeah Rekhate
Yeah Navarro
Yeah Sharma
Yeah Bole
Yeah Maity
Yeah Budhatoki
Yeah Khosla
Yeah Jolie
Yeah Dhanwani
Yeah Vohra(l)
Yeah Khan
Yeah De Cruz
Yeah Dhar
Yeah Belucci
Yeah Rai
Yeah Renteria
Yeah Banerjee

In [15]:
sp_name=["Tandon","Ercel","Bhadoria","Favela","White","Megan","Dutta","Lopez","Marie","Macool","Conde","Elizabeth","Dominguez","Khanna","Simpsonn","Yancheva","Pandit","Nunez","Adhikary","Cherem","Khera","Pendse","Aasadi","Russel","Jaberi","Bhowmick","Sagar","Singh","Arya","Daniels","Dilaik","Hayat","Fernandez","Kalita","Kapoor","Mukherjee","Fakhri","Rekhate","Navarro","Sharma","Bole","Maity","Budhatoki","Khosla","Jolie","Dhanwani","Vohra(l)","Khan","De Cruz","Dhar","Belucci","Rai","Renteria","Banerjee"]
for x in sp_name:
    print("Yeah",x)
    if(x=="Macool"):
        print("1 big")
    if(x=="Aasadi"):
        print("2 big")

Yeah Tandon
Yeah Ercel
Yeah Bhadoria
Yeah Favela
Yeah White
Yeah Megan
Yeah Dutta
Yeah Lopez
Yeah Marie
Yeah Macool
1 big
Yeah Conde
Yeah Elizabeth
Yeah Dominguez
Yeah Khanna
Yeah Simpsonn
Yeah Yancheva
Yeah Pandit
Yeah Nunez
Yeah Adhikary
Yeah Cherem
Yeah Khera
Yeah Pendse
Yeah Aasadi
2 big
Yeah Russel
Yeah Jaberi
Yeah Bhowmick
Yeah Sagar
Yeah Singh
Yeah Arya
Yeah Daniels
Yeah Dilaik
Yeah Hayat
Yeah Fernandez
Yeah Kalita
Yeah Kapoor
Yeah Mukherjee
Yeah Fakhri
Yeah Rekhate
Yeah Navarro
Yeah Sharma
Yeah Bole
Yeah Maity
Yeah Budhatoki
Yeah Khosla
Yeah Jolie
Yeah Dhanwani
Yeah Vohra(l)
Yeah Khan
Yeah De Cruz
Yeah Dhar
Yeah Belucci
Yeah Rai
Yeah Renteria
Yeah Banerjee

In [14]:
l_name="Sarkar"
for x in l_name:
    print(x)

S
a
r
k
a
r

In [17]:
sp_name[0]

'Tandon'

In [18]:
for a in sp_name:print(a, end=' ')

Tandon Ercel Bhadoria Favela White Megan Dutta Lopez Marie Macool Conde Elizabeth Dominguez Khanna Simpsonn Yancheva Pandit Nunez Adhikary Cherem Khera Pendse Aasadi Russel Jaberi Bhowmick Sagar Singh Arya Daniels Dilaik Hayat Fernandez Kalita Kapoor Mukherjee Fakhri Rekhate Navarro Sharma Bole Maity Budhatoki Khosla Jolie Dhanwani Vohra(l) Khan De Cruz Dhar Belucci Rai Renteria Banerjee

In [21]:
l_name="Sarkar"
l_name[0]

'S'

# Nested LOOPs

In [23]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [24]:
for i in range(0,8,2):
    print(i)

0
2
4
6

In [1]:
n=7 #n is length and width of triangle
for i in range(0, n): #loop to handle the rows 

    for j in range(0, i+1): #loop to handle the columns 

        print("* ",end="") #printing the stars 

    print("\r") #after each row line will end

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *