In [4]:
#a tuple is an ordered, immutable collection of elements. Tuples are similar to lists, but they cannot be modified once created. They are represented by enclosing the elements in parentheses () or using the tuple() constructor.
#Declaration
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [6]:
#Tuples are immutable
# However, if an element is mutable (e.g., a list), it can be modified within the tuple.
my_tuple = (1, 2, [3, 4])
my_tuple[2][0] = 5
my_tuple

(1, 2, [5, 4])

In [2]:
my_tuple = (1, 2, 3)
print(my_tuple[0])

1

In [6]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
repeated_tuple = tuple1 * 3
sliced_tuple = tuple1[1:3]
print(concatenated_tuple)
print(repeated_tuple)
print(sliced_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(2, 3)

In [8]:
concatenated_tuple = tuple1 + tuple2 + 67

TypeError: can only concatenate tuple (not "int") to tuple

In [11]:
my_tuple = (1, 2, 3)
for element in my_tuple:
    print(element)

if 2 in my_tuple:
    print("Element found")

1
2
3
Element found

In [13]:
#The tuple constructor in Python is a built-in function called tuple(). It is used to create a tuple object from an iterable, such as a list, string, or another tuple. 
#new_tuple = tuple(iterable)
list1 = [1, 2, 3, 4]
tuple1 = tuple(list1)
print(tuple1)

string1 = "Hello"
tuple2 = tuple(string1)
print(tuple2)

tuple3 = tuple((7, 8, 9))
print(tuple3)

(1, 2, 3, 4)
('H', 'e', 'l', 'l', 'o')
(7, 8, 9)

In [18]:
list1 = [1, 2, 3, 4,78,98,67,92,763,9,21]
tuple4 = tuple([i+1 for i in list1 if i%2==0])
tuple4

(3, 5, 79, 99, 93)

In [20]:
#Single-element Tuple
# include a trailing comma after the element
#Otherwise, Python will consider it as a regular value
single_element_tuple = (42,)
single_element_tuple

(42,)

In [22]:
#Tuples can be compared lexicographically, meaning they are compared element by element from left to right. The comparison stops at the first unequal element encountered.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print(tuple1 < tuple2)

True

In [2]:
#Tuple packing refers to the process of combining multiple values into a single tuple.
#a tuple by enclosing comma-separated values, without explicitly using parentheses
packed_tuple = 1, 2, 3
packed_tuple

(1, 2, 3)

In [4]:
#unpacking tuple
my_tuple = (10, 20, 30)
a, b, c = my_tuple

In [7]:
"""tuple unpacking for swapping
    a and b are assigned the initial values of 10 and 20
    statement b, a creates a tuple (b, a) where the values of b and a are packed together in that order.
    tuple (b, a) is then unpacked using tuple unpacking. The first element of the tuple (b) is assigned to a, and the second element of the tuple (a) is assigned to b.
    alues of a and b are effectively swapped. a now holds the value 20, and b holds the value 10.
"""
a = 10
b = 20
a, b = b, a  # Swap the values of a and b using tuple unpacking
a,b

(20, 10)

In [2]:
t1 = (1,2,3,4,45,45.45 , 45+7j , "sudh" , True)

In [11]:
type(t1)

tuple

In [13]:
t1[7]

'sudh'

In [3]:
t1[::-1]

(True, 'sudh', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [4]:
t1 = t1[::-1]

In [32]:
t1[0:3]

(True, 'sudh', (45+7j))

In [34]:
t1.count("abc")

0

In [5]:
t1.count(4)

1

In [14]:
t1.index(1)
t1.index(1)
#now it is giving output 0, because our first element is "True", which internally in the computer is saved as 1, so the index is 0

0

In [15]:
t1.index("sudh")

1

In [18]:
t1.index(4)

5

In [21]:
t1.count(True)
#internally boolean value true as 1

2

In [23]:
t1.count(1)

2

In [25]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [27]:
for i in t1:
    print(f"{i} is of type :", type(i))

True is of type : <class 'bool'>
sudh is of type : <class 'str'>
(45+7j) is of type : <class 'complex'>
45.45 is of type : <class 'float'>
45 is of type : <class 'int'>
4 is of type : <class 'int'>
3 is of type : <class 'int'>
2 is of type : <class 'int'>
1 is of type : <class 'int'>

In [28]:
t2 = (1,2,3,3,4)

In [29]:
max(t2)

4

In [30]:
min(t2)

1

In [31]:
t1 = (1,2,32,4)
t2 = (4,5,6,7,8)

In [32]:
t3 = (t1,t2)

In [34]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [35]:
t4 = ((1,2,3,4,5) , [1,3,5,6,7,8])

In [36]:
t4

((1, 2, 3, 4, 5), [1, 3, 5, 6, 7, 8])

In [37]:
del t4

In [38]:
t4

NameError: name 't4' is not defined

In [40]:
len(t2)

5

In [42]:
90 in t2

False

In [43]:
5 in t2

True

# Sets

In [45]:
#A set is an unordered collection of unique elements
#sets are mutable, iterable, 
#and support mathematical set operations like union, intersection, and difference.
set1 = {1, 2, 3}          # Creating a set with values directly
set2 = set()              # Creating an empty set using set()
set3 = set([4, 5, 6])     # Creating a set from a list

In [47]:
s = {}

In [48]:
type(s)

dict

In [50]:
s1 = {1,2,3,4,5}
type(s1)

set

In [52]:
#Sets contain unique elements, meaning no duplicate values are allowed.
s2 = {1,1,12,3,3,3,4,5,5,5,55,523,34,3,45,6,67}
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [56]:
#Sets can store elements of different data types, such as integers, strings, and even other sets.
set4 = {1, 2, "Hello", (4, 5)}
set4

{(4, 5), 1, 2, 'Hello'}

In [116]:
#Sets are unordered, so you cannot access elements by index.
set5 = {1, 2, 3}
set5[0]

TypeError: 'set' object is not subscriptable

In [61]:
for element in set5:
    print(element)

1
2
3

In [63]:
#You can iterate over a set using a loop or convert it to a list for indexing.
set_to_lst=[i for i in set5]
set_to_lst

[1, 2, 3]

In [92]:
#Sets are mutable, allowing you to add or remove elements.
set6 = {1, 2, 3,6,8,6}
set6.add(4)              # Add a single element to the set
set6

{1, 2, 3, 4, 6, 8}

In [93]:
set6.update([5, 6])      # Add multiple elements to the set
set6

{1, 2, 3, 4, 5, 6, 8}

In [94]:
set6.remove(3) # Remove a specific element from the set
set6

{1, 2, 4, 5, 6, 8}

In [95]:
set6.discard(10) # Remove an element if present, without raising an error
set6

{1, 2, 4, 5, 6, 8}

In [84]:
set7 = {1, 2, 3}
set8 = {2, 3, 4}
union_set = set7.union(set8)                 # Union of two sets
print(union_set)
intersection_set = set7.intersection(set8)   # Intersection of two sets
print(intersection_set)
difference_set = set7.difference(set8)       # Difference between two sets
print(difference_set)

{1, 2, 3, 4}
{2, 3}
{1}

In [86]:
#symmetric difference between two sets is a set that contains elements that are present in either of the sets, but not in both. 
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1.symmetric_difference(set2)
# or: symmetric_diff = set1 ^ set2

print(symmetric_diff)

{1, 2, 5, 6}

In [88]:
# instead of symmetric_difference() we can use ^
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1 ^ set2

print(symmetric_diff)

{1, 2, 5, 6}

In [89]:
set9 = {1, 2, 3}
print(len(set9))

3

In [96]:
#pop() method removes an arbitrary element from the set.
set6.pop()
set6

{2, 4, 5, 6, 8}

In [97]:
set6.pop()

2

In [99]:
set6

{4, 5, 6, 8}

In [102]:
#Subset and Superset: You can check if a set is a subset or superset of another set using the issubset() and issuperset() methods.
is_subset = set1.issubset(set2)
is_subset

False

In [104]:
is_superset = set1.issuperset(set2)
is_superset

False

In [106]:
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [109]:
l=list(s2)

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [114]:
t=tuple(s2)
t

(1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55)

In [117]:
set(t)

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [119]:
s7  = {"sudh" , "sudh" , 2,3,4,5}

In [121]:
s7

{2, 3, 4, 5, 'sudh'}

In [122]:
s7[::-1]

TypeError: 'set' object is not subscriptable

In [124]:
for i in s7:
    print(i)

sudh
2
3
4
5

In [127]:
s7.clear()
s7

set()

In [130]:
s8 = {1,2,3,4}
s9 = {1,2,3,5}
s8.difference(s9)

{4}

In [131]:
s9.difference(s8)

{5}

###In Python, sets are designed to store elements that are hashable and immutable. This means that elements in a set must be of a type that is hashable (able to be uniquely identified) and immutable (cannot be changed after creation).

Tuples in Python are immutable, which means their elements cannot be modified once the tuple is created. Additionally, tuples are hashable, meaning they have a unique hash value that allows them to be efficiently stored and retrieved from a set.

Lists, on the other hand, are mutable. They can be modified by adding, removing, or changing elements after they are created. Since lists are mutable, they do not have a fixed hash value, which makes them unhashable and, therefore, cannot be directly stored in a set.###

In [133]:
s4 = {1,2,3,4,[1,2,3,4]}

TypeError: unhashable type: 'list'

In [134]:
s5 = {1,2,3,4, (1,2,3,4)}

In [136]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [137]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [140]:
s6 = {"sudh" , "Sudh" , 2,3,4,5}
s6

{2, 3, 4, 5, 'Sudh', 'sudh'}

In [144]:
s7  = {"sudh" , "sudh" , 2,3,4,5}
s7

{2, 3, 4, 5, 'sudh'}

# Dicts

In [146]:
d={}

In [148]:
type(d)

dict

In [153]:
d={"Best": "tandon","lATEST":"MARIlin","2nd_best":"SOnbhad","Tandon_score":10000000}

In [155]:
d2={"name":"Natasad","name":"favela"}

In [157]:
d2
# a dict never takes the same key twice,if more than one key have same name, then the key is updated with the last value

{'name': 'favela'}

In [158]:
#access the values in a dictionary by referring to their corresponding keys
student = {
    "name": "John",
    "age": 20,
    "major": "Computer Science",
    "gpa": 3.8
}
print(student["name"])

John

In [160]:
print(student["age"])

20

In [162]:
student["age"]=56

In [164]:
student["name"]= "Sallu"

In [166]:
print(student["name"])
print(student["age"])

Sallu
56

In [168]:
if "major" in student:
    print("The key 'major' exists in the dictionary.")

The key 'major' exists in the dictionary.

In [171]:
#You can iterate over the keys, values, or items (key-value pairs) of a dictionary using loops or comprehension
# Iterating over keys
for key in student:
    print(key)

# Iterating over values
for value in student.values():
    print(value)

# Iterating over items
for key,value in student.items():
    print(key, value)

name
age
major
gpa
Sallu
56
Computer Science
3.8
name Sallu
age 56
major Computer Science
gpa 3.8

In [177]:
#To add a new key-value pair
#you can assign a value to a new key.
my_dict = {"name": "John", "age": 25}
my_dict["city"] = "New York"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [178]:
del my_dict["city"]
print(my_dict)

{'name': 'John', 'age': 25}

# Dictionary methods
keys(): Returns a view object that contains all the keys in the dictionary.

values(): Returns a view object that contains all the values in the dictionary.

items(): Returns a view object that contains all the key-value pairs in the dictionary.

get(key, default): Returns the value associated with the specified key. If the key doesn't exist, it returns the default value (if provided) or None.

pop(key): Removes and returns the value associated with the specified key.

popitem(): Removes and returns the last key-value pair inserted into the dictionary.

clear(): Removes all the key-value pairs from the dictionary.

copy(): Returns a shallow copy of the dictionary.

In [180]:
#Dictionary Comprehension:

#Similar to list comprehension, Python also supports dictionary comprehension, which allows you to create dictionaries in a concise and readable way.

#Here's an example of creating a dictionary using dictionary comprehension:
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [184]:
new_dict = d.copy()
print(new_dict)

{'Best': 'tandon', 'lATEST': 'MARIlin', '2nd_best': 'SOnbhad', 'Tandon_score': 10000000}

copy() method creates a shallow copy, which means that if the values in the dictionary are mutable objects (like lists or other dictionaries), the new dictionary will have references to the same objects as the original dictionary. Modifying those mutable objects will be reflected in both the original and copied dictionaries.

In [186]:
my_dict = {"name": "John", "ages": [20, 25, 30]}

# Create a shallow copy of the dictionary
new_dict = my_dict.copy()

# Modify the list in the copied dictionary
new_dict["ages"].append(35)

print(my_dict)
print(new_dict)

{'name': 'John', 'ages': [20, 25, 30, 35]}
{'name': 'John', 'ages': [20, 25, 30, 35]}

Keep in mind that the copy() method creates a shallow copy, not a deep copy. If you have nested dictionaries or other mutable objects within the dictionary, modifying those nested objects will affect both the original and copied dictionaries.

If you need a deep copy of a dictionary, including all nested objects, you can use the copy.deepcopy() function from the copy module:

In [189]:
import copy

my_dict = {"name": "John", "ages": [20, 25, 30]}

# Create a deep copy of the dictionary
new_dict = copy.deepcopy(my_dict)

# Modify the list in the copied dictionary
new_dict["ages"].append(35)

print(my_dict)
print(new_dict)

{'name': 'John', 'ages': [20, 25, 30]}
{'name': 'John', 'ages': [20, 25, 30, 35]}

In [196]:
d3 = {234234 : "abc"}

d4 = {234.45 : "abc"}

d5 = {True : "abc"}

d5

{True: 'abc'}

In [197]:
d4

{234.45: 'abc'}

In [198]:
d3

{234234: 'abc'}

In [190]:
d6 = {# : "abc"}

SyntaxError: unexpected EOF while parsing (36680248.py, line 1)

In [191]:
d7 = {@ : "abc"}

SyntaxError: invalid syntax (183635709.py, line 1)

In [192]:
d8 = {[1,2,3] :"abc"}

TypeError: unhashable type: 'list'

In [193]:
d9 = {(1,2,3) : "abc"}

d9

{(1, 2, 3): 'abc'}

In [194]:
d10 = {{1,2,3} :"abc"}

TypeError: unhashable type: 'set'

In [195]:
d11 = {{"key":234} : "abc"}

TypeError: unhashable type: 'dict'

In [2]:
d15 = {"key" : {"name" : "sudhanshu" , "class" : "DSM"}}
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [4]:
d16 = {"batch_name" :["data science masters" , "web dev" , "JDS"] , "start_date": (28,14,21),"mentor_name" : {"krish naik", "sudhanshu" , "hitesh", "anurag" , "navin","hayder"}}

In [5]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [6]:
d16["timing"] = (8 , 8 ,8)

d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [7]:
d16['batch_name']

['data science masters', 'web dev', 'JDS']

In [8]:
type(d16['mentor_name'])

set

In [10]:
d16["name"]  = "Ninel"

In [11]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ninel'}

In [12]:
d16['name'].upper()

'NINEL'

In [13]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [14]:
d15['key']['class']

'DSM'

In [15]:
d15['new']="narcos"

In [16]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}, 'new': 'narcos'}

In [17]:
d15.clear()

In [18]:
d15

{}

In [19]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ninel'}

In [20]:
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'Ninel')]

In [21]:
d17 = d16.copy()
#deepcopy

In [22]:
d18=d16
#shallow copy

In [23]:
d16.pop('timing')

(8, 8, 8)

In [24]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [27]:
d={}
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [28]:
d19 = {"key1" : "value" , "key2" : "value2"}
d20 = {"key3" : "value3" , "key4" :"value4"}

In [29]:
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [30]:
d19.update(d20)

In [31]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [32]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [33]:
d20.update(d19)
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [34]:
d20.get("sudh")

In [35]:
d20.get("key3")

'value3'

In [36]:
d20["key3"]

'value3'

In [39]:
d20["sudh"] #get doesn't give error

KeyError: 'sudh'

In [40]:
import math
d21 = {i :math.log10(i) for i in range(1,11)}
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [41]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'name': 'Ninel'}

In [42]:
'batch_name' in d16

True

In [43]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [46]:
d21[2]

0.3010299956639812

In [50]:
for i in d21.keys():
    if i % 2 == 0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [51]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [52]:
dict1 = {"name": "Mike", "salary": 8000}

temp = dict1.get("age")

print(temp)

None

In [53]:
atuple = (100,)

print(atuple * 2)

(100, 100)

In [57]:
set2={2,4,5,7}
se11={5,6,6,4}

In [59]:
set2.update(se11)
set2

{2, 4, 5, 6, 7}

In [3]:
text = "Hello"
width = 10

left_justified = text.ljust(width,".")
print(left_justified)  # Output: "Hello     "

right_justified = text.rjust(width, "-")
print(right_justified)  # Output: "-----Hello"

centered = text.center(width, "*")
print(centered)  # Output: "**Hello***"

Hello.....
-----Hello
**Hello***

In [4]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [5]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [6]:
string = "p w s k i l l s"

"S".join(string)

'pS SwS SsS SkS SiS SlS SlS Ss'

In [ ]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))