In [1]:
a = lambda n,p : n**p

In [2]:
a(4,3)

64

In [3]:
lambda n,p : n**p

a lambda function is a small anonymous function that can be defined without a name. It is also known as an "anonymous function" because it does not require a traditional function definition using the def keyword.

lambda arguments: expression

In [4]:
add = lambda x, y: x + y
print(add(5, 3))

8

In [5]:
students = [('Alice', 22), ('Bob', 19), ('Charlie', 21)]
students.sort(key=lambda x: x[1])
print(students)  # Output: [('Bob', 19), ('Charlie', 21), ('Alice', 22)]

[('Bob', 19), ('Charlie', 21), ('Alice', 22)]

In [6]:
a = lambda x: x[1]

In [7]:
students = [('Alice', 22), ('Bob', 19), ('Charlie', 21)]
students.sort(key=a)
print(students)  # Output: [('Bob', 19), ('Charlie', 21), ('Alice', 22)]

[('Bob', 19), ('Charlie', 21), ('Alice', 22)]

In [8]:
max =  lambda x,y : y if y>x else x

In [9]:
max(90,33)

90

In [11]:
s = input("Enter string : ")
len_st = lambda x: len(x)
len_st(s)

Enter string : nagasaki

8

In [1]:
l = [1,2,3,4,5,6,7]

In [2]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [3]:
test(l)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
def sq(x):
    return x**2

In [5]:
map(sq,l)

In [8]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49]

In [9]:
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49]

In [11]:
l1=[2,3,45,322,34]
l2=[4,543,5,32,45]
list(map(lambda x,y :x+y, l1,l2))

[6, 546, 50, 354, 79]

In [14]:
list(map(f , l1,l2))

[6, 546, 50, 354, 79]

In [13]:
f = lambda x,y:x+y

In [15]:
s="Dogs are dogs"

In [16]:
list(map (lambda r:r.upper(), s ))

['D', 'O', 'G', 'S', ' ', 'A', 'R', 'E', ' ', 'D', 'O', 'G', 'S']

By default reduce() is not available import it from functools module

In [18]:
from functools import reduce

In [19]:
l=[1,2,3,4,5,6,7]

In [20]:
reduce(lambda x,y : x+y,l)

28

In [22]:
def add(x,y):
    return x+y

In [23]:
reduce(add,l)

28

In [24]:
reduce(lambda x , y , z : x+y+z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [25]:
reduce(lambda x,y : x+y,[])

TypeError: reduce() of empty sequence with no initial value

In [26]:
#exceptional case
reduce(lambda x,y : x+y,[4])

4

In [27]:
l

[1, 2, 3, 4, 5, 6, 7]

In [32]:
reduce(lambda x,y : x if x>y else y,l)

7

filter() function takes two arguments: a filtering function and an iterable. It applies the filtering function to each element of the iterable and returns an iterator that yields only the elements for which the filtering function returns "True".

The result of filter() is an iterator, which can be converted to other iterable types like a list, tuple, or set using the list(), tuple(), or set() functions, respectively.

In [38]:
s = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, s))
print(even_numbers)

[2, 4]

In [36]:
type(even_numbers)

list

In [37]:
filter(lambda x: x % 2 == 0, numbers)

In [39]:
list(filter(lambda x : x % 2 !=0 , l))

[1, 3, 5, 7]

In [41]:
l1 = [-2,4,5,6,-3,-6,-7]
list(filter(lambda x : x >= 0 , l1))

[4, 5, 6]

In [42]:
list(filter(lambda x : x < 0 , l1))

[-2, -3, -6, -7]

In [44]:
l2 = ["yoyo" , "Badshah" , "ikka" , "kri$na" , "Raftaar"]

list(filter(lambda x : len(x) < 5 , l2))

['yoyo', 'ikka']

In [46]:
runs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
r=lambda x:x(1)
ranked= runs.sort(key=r)

TypeError: 'tuple' object is not callable

In [50]:
runs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
r=lambda x:x[1]
ranked= runs.sorted(key=r)

AttributeError: 'list' object has no attribute 'sorted'

In [51]:
runs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
r=lambda x:x(1)
ranked=sorted(runs,key=r)

TypeError: 'tuple' object is not callable

In [65]:
#use x[1] instead of x(1)
runs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
r=lambda x:x[1]
runs.sort(key=r)

In [68]:
print(runs)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]