In [1]:
#to create functions we use keyword def for function definition, followed by function nane
def test():
    pass

In [2]:
    
def test1():
    print("this is my very very first fun")

In [3]:
test1()

this is my very very first fun

In [5]:
test1() + "farach"
# giving error because in test1(), print function is used
#print function returns nonetype

this is my very very first fun

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
def test2():
    return "this is my fun with return " 
test2() + "farach"

'this is my fun with return farach'

In [14]:
def test3():
    return 1, 4, "eoed" , 34.56
test3()

(1, 4, 'eoed', 34.56)

In [8]:
a,b,c,d = 1,2,34.56,True

In [9]:
a

1

In [10]:
b

2

In [11]:
c

34.56

In [12]:
d

True

In [15]:
test3()[0]

1

In [16]:
def test4():
    a = 3*4 +5
    return a

In [17]:
t= test4() + 54
t

71

In [18]:
type(test4)

function

In [19]:
type(test4())

int

In [20]:
def test5(a,b):
    c = a +b
    return c

In [21]:
test5(9,23)

32

In [24]:
test5(b="Marilin", a="Lopez")

'LopezMarilin'

In [25]:
test5("Marilin", "Lopez")

'MarilinLopez'

In [26]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [27]:
test5([1,2,3,4] , [4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [28]:
l = [1,2,3,4,5,"Marjorie" , "Emily" , [1,2,3,34,45]]

In [39]:
#a fuction to filter out numeric values from list
def chknum(a):
    n=[]
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [37]:
chknum(l)
# now this does not gives values from the list which is also an element of lt

[1, 2, 3, 4, 5]

In [44]:
#to show items of list too
def chknum1(a):
    n=[]
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else :
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [45]:
chknum1(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]

In [46]:
l

[1, 2, 3, 4, 5, 'Marjorie', 'Emily', [1, 2, 3, 34, 45]]

In [1]:
def test(a,b,c,d,e):
    pass

In [2]:
test(3,4,6,78,2,45,67,98)

TypeError: test() takes 5 positional arguments but 8 were given

In [4]:
def test1(*args):
    return args

In [5]:
test1(1,3,2,4)

(1, 3, 2, 4)

In [6]:
test1("Mistry",88,"Renteria",2)

('Mistry', 88, 'Renteria', 2)

In [8]:
test1([1,2,3,4,5],1,2,3,(2,4,6,8))

([1, 2, 3, 4, 5], 1, 2, 3, (2, 4, 6, 8))

In [9]:
def my_function(*args):
    for arg in args:
        print(arg)

my_function("apple", "banana", "cherry")

apple
banana
cherry

Inside the function, args is treated as a tuple that contains all the arguments.

You can then iterate over the args tuple and perform operations on each argument within the function.

 when arguments are collected into 'args' using the '*args' syntax, they are packed into a tuple. Tuples in Python are immutable, which means they cannot be modified after creation. Therefore, the args tuple itself cannot be modified.

If you attempt to modify the args tuple directly, you will encounter an error. However, you can still perform operations on the elements of the args tuple individually, as long as those elements are mutable objects.

In [10]:
def my_function(*args):
    args[0] = 10  # Trying to modify the args tuple
    for arg in args:
        print(arg)

my_function(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [11]:
def test2(*sudh):
    return sudh

In [12]:
test2(3,4,5,6)

(3, 4, 5, 6)

In [13]:
def test3(*args , a ):
    return args ,a

In [14]:
test3(55)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [15]:
test3(3,5,23,55)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [16]:
test3(3,5,23,55,a="Ram")

((3, 5, 23, 55), 'Ram')

In [18]:
test3((3,5,23,55),"Ram")

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [19]:
def test4(*args):
    l = []
    for i in args:
        if type(i) == list :
            l.append(i)
            
    return l

In [21]:
test4(1,2,3,[1,2,3,4,4] , (1,2,3,4,4) , "sudh" , [4,5,6] , [6,7,8])

[[1, 2, 3, 4, 4], [4, 5, 6], [6, 7, 8]]

In [22]:
# kwargs are used so as to take key-value pairs i.e. dict as arguments
def test5(**kwargs):
    return kwargs

In [23]:
test5()

{}

In [24]:
type(test5())

dict

In [25]:
test5(a = 34 , b = 23 , c = [1,2,3,4] , d = ("sudh" , "pwskills"))

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('sudh', 'pwskills')}

In [30]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])== list:
            return i,kwargs[i]

In [31]:
test6(a = 34 , b = 23 , c = [1,2,3,4] , d = ("sudh" , "pwskills"))

('c', [1, 2, 3, 4])

In [32]:
def test8(*args, **kwargs):
    return args, kwargs

In [33]:
test8(2,3,56,67,4575,556,a=[3,5,5,3],b=("make"))

((2, 3, 56, 67, 4575, 556), {'a': [3, 5, 5, 3], 'b': 'make'})

generators are used to generste values on the fly

Generators in Python are special type of functions that allow you to create an iterable sequence of values. A generator function returns a generator object, which can be used to generate the values one-by-one as you iterate over it. Generators are a powerful tool for working with large or complex data sets, as they allow you to generate the values on-the-fly, rather than having to create and store the entire sequence in memory.

# Creating a Generator
In Python, you can create a generator by using the yield statement in a function. The yield statement returns a value from the generator and suspends the execution of the function until the next value is requested. Here's an example:

In [34]:
def my_generator():
    for i in range(5):
        yield i
gen = my_generator()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3
4

As you can see, the generator function my_generator() returns a generator object, which can be used to generate the values in the range 0 to 4. The next() function is used to request the next value from the generator, and the generator resumes its execution until it encounters another yield statement or until it reaches the end of the function.

In [35]:
print(next(my_generator()))

0

In [37]:
print(next(my_generator()))
print(next(my_generator()))

0
0

# Using a Generator
Once you have created a generator, you can use it in a variety of ways, such as in a for loop, a list comprehension, or a generator expression. Here's an example:

In [38]:
gen = my_generator()
for i in gen:
    print(i)

0
1
2
3
4

# Benefits of Generators
Generators offer several benefits over other types of sequences, such as lists, tuples, and sets. One of the main benefits of generators is that they allow you to generate the values on-the-fly, rather than having to create and store the entire sequence in memory. This makes generators a powerful tool for working with large or complex data sets, as you can generate the values as you need them, rather than having to store them all in memory at once.

Another benefit of generators is that they are lazy, which means that the values are generated only when they are requested. This allows you to generate the values in a more efficient and memory-friendly manner, as you don't have to generate all the values up front.

compared to lists the whole of datas are not stored, rather the method of obtaining the data is stored, and the yield function  then generated data when required

In [39]:
def test_fib(n) :
    a,b = 0,1
    for i in range(n):
        yield a 
        a,b = b ,a+b

In [40]:
test_fib(7)

In [41]:
for i in test_fib(8):
    print(i)

0
1
1
2
3
5
8
13

In [1]:
# 5
def primgen():
    for i in range (2,1001):
        Yprime = True
        if i>1 :
            for j in range(2,int(i**0.5) + 1):
                if i%j == 0 :
                    Yprime = False
            if Yprime:
                yield i

In [2]:
gen = primgen()

In [3]:
for i in range(20):
    print(i+1,"-",next(gen))

1 - 2
2 - 3
3 - 5
4 - 7
5 - 11
6 - 13
7 - 17
8 - 19
9 - 23
10 - 29
11 - 31
12 - 37
13 - 41
14 - 43
15 - 47
16 - 53
17 - 59
18 - 61
19 - 67
20 - 71