In [2]:
#print function
a = 10
b = a+56
print(a)
print(b, end=',')
print(12)

10
66,12

In [5]:
# last line is output
a=10
b=10
a

10

In [1]:
print(a)

10

In [2]:
a=10
b=90
print(2*a*b)

1800

In [1]:
a=19
b=12
print(a%b)

7

In [12]:
a=19
b=7
print(a/b)

2.7142857142857144

In [8]:
a=10
b=12+7j
c=12.3
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'complex'>
<class 'float'>

## In python numerical data types are of these three types

In [13]:
print(a)
print(b)
print(c)

19
7
12.3

In [15]:
#operators
a=12
c=a+b
print(a-b)
print(a*b)
print(a/b)
#this division unlike c++ int/int will not give you int but will give decimal as an answer but if you want to get floor division like c++
print(a//b)
# for power use"**"
print (a**2)

5
84
1.7142857142857142
1
144

In [3]:
a,b = 2,3.5
c,d = 2+3.5j,8.97
print(a)
print(b)
print(c)
print(d)

2
3.5
(2+3.5j)
8.97

In [6]:
#string
a="idiots be idiot, nicer be nice"
print(a)
print(type(a))
# you can use both double and single inverted commas
b= 'this is also string'
print(b)
print(type(b))

idiots be idiot, nicer be nice
<class 'str'>
this is also string
<class 'str'>

str is the only type of text datatype in python

In [7]:
# typical sring properties
print(len(a))
print(type(a))
a[0]

30
<class 'str'>

'i'

In [8]:
3-8

-5

In [11]:
print('hhhh',end = 'di')

hhhhdi

In [13]:
decimal_num=30

In [14]:
red_no=56

In [15]:
decimal_num=56
decimal_num

56

In [16]:
##bad way to name variables
## don't start names with numbers
1rev=23
1rev

SyntaxError: invalid syntax (1487501182.py, line 1)

In [17]:
## variables are case sensitive
number = 34
Number = 56
print(number)
print(Number)

34
56

In [ ]:
#reserved keywords
'''
float,int,str,return,complex,len,bool etc.
'''

In [18]:
True

True

In [23]:
True or False

True

In [24]:
True and False

False

In [25]:
not True

False

In [26]:
bool(0)

False

In [27]:
bool(1)

True

In [28]:
type(not True)

bool

In [29]:
a=1
if (bool(a)==True):
    print("haha")

haha

In [30]:
#typecasting
str(45)

'45'

In [33]:
d=int(str(67))
d

67

In [35]:
bool(0)

False

In [36]:
int(1.5)

1

In [37]:
#but we cannot do something like
int('abcg')

ValueError: invalid literal for int() with base 10: 'abcg'

In [38]:
#concatenation
"1"+"1"

'11'

In [39]:
"1"+1

TypeError: can only concatenate str (not "int") to str

In [40]:
int("1")+int("1")

2

In [41]:
"1"*"1"

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
"1"*100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [ ]:
# except bool(0), by default all other bool(x) is true

In [43]:
bool(4)

True

In [44]:
bool(-3)

True

In [45]:
## Comments
## for single we use ##
## this is a function
# this is a comment
a=20
a

20

In [46]:
"""
Example of multiline comments
hello this is a example of python
dsfsdfdfdsf
dfsdfsdfsdfdsf
dfdsfdsfsdf
"""
a=20
a

20

In [1]:
from platform import python_version
print(python_version())

3.9.12

## This is how to do nothing